---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.tsx';
---

<Layout title="rohanny.xyz">
  <div id="root">
    <App client:load />
  </div>
</Layout>

<style>
  #root {
    width: 100%;
    height: 100vh;
  }
</style> 